
  body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f0f0f0;
    margin: 0 auto;
    background-color: #222;
  }

  .card-container{
    width:250px;
    height:320px;
    perspective:1000px;
  }

  .card{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition:transform 2s;
  }

  .card-container:hover .card{
    transform:rotateY(180deg);
  }

  .card-side{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:sans-serif;
    border:1px solid #ccc;
    border-radius:10px;
    background:white;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
  }

  .card-front img{
    width:80%;
    height:auto;
  }


  .card-back{
    transform:rotateY(180deg);
    flex-direction:column;
    gap:12px;
    background:#ff6b6b;
    color:white;
    padding:20px;
    box-sizing:border-box;
  }

  .btn{
    width:90%;
    padding:10px;
    margin:4px 0;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    font-weight:bold;
  }

  .btn-cart{
    background:white;
    color:#ff6b6b;
  }

  .btn-buy{
    background:#222;
    color:white;
  }

  .btn:hover{
    opacity:1.1;
  }
